{% extends 'basic.html'%}
{% block title %} filter_emp Page {%endblock %}


{% block head %} Filter Employeess{% endblock %}
<hr>
{% block div %}
<form action ='/filter_emp' method ='post'>
    {% csrf_token %}
  
   
      <label for="first_name" >Employee Full Name</label><br>
      <input type="text"  id="name" name="name" value="{{name}}"><br>
   
      
   
       
   
      <label for="dept" >Department</label><br>
      <input type="text"  id="dept" name="dept" value="{{dept}}"><br> 
   
      <label for="role" >Role</label><br>
      <input type="text"  id="role" name="role" value="{{role}}" ><br> 
   
    
      
         <hr>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>
{% endblock %}
{% block body %}
{%endblock %}